<template lang="pug">
  .topbar-left.site-logo
    .text-center
      router-link(tag="a" to="/" exact).logo
        .site-logo__image
</template>

<style lang="stylus">
  .site-logo
    position absolute

  .site-logo__image
    background-image url("./../../../images/unic-logo.png")
    background-repeat no-repeat
    background-size contain
    height 100px

  @media (max-width: 1006px)
    .site-logo__image
      height 50px
      width 50px

  @media (max-width: 770px)
    .site-logo__image
      display none

  @media (min-width: 1715px)
    .site-logo__image
      border-radius 5px

</style>