<template lang="pug">
  .navbar.navbar-default(
    role="navigation",
    :class="{open: navbarOpen}"
    )
    // Header
    router-link(to="/" exact tag="div" class="text-center nav-bar-header")
      span.ucb-small-logo
        img(src="./../../../images/svg/unic-logo.svg")
      h4 ЮниКредит Банк
      span  - Информационный центр
    .navbar__burger(@click="toggleNavBar")
      i.fa.fa-bars
    .menu-navigation
      // Center menu
      ul.nav.navbar-nav.main-nav(@mouseenter="openedClassClear", @mouseleave="openedClassClear")
        li.menu-item.home-page-navigation
          router-link(
          tag="a",
          class="dropdown-toggle waves-effect waves-light",
          to="/") Главная

        li(v-for="(item, index) in navItems" :class="navItemClasses(item)" :key="index")
          template(v-if="item.children.length > 0")
            a.dropdown-toggle.waves-effect.waves-light(data-toggle="dropdown")
              | {{ item.name }}
              span.caret
            ul.dropdown-menu
              template(v-for="(child, idx) in item.children")
                router-link(
                  v-if="child.item.category"
                  tag="li",
                  :to="{name: 'category', params: {slug: child.item.category.slug}}",
                  :key="'c_' + idx"
                  )
                  a - {{ child.item.name }}
                router-link(
                  v-if="child.item.activePage"
                  tag="li",
                  :to="{name: 'page', params: {slug: child.item.activePage.slug}}",
                  :key="'p_' + idx"
                  )
                  a - {{ child.item.name }}

              li(
                v-if="child.children.length > 0"
                v-for="(child, idx) in item.children",
                :key="'sch_' + idx",
                @click="onMouseClick"
                )
                template(v-if="child.children.length > 0")
                  a.dropdown-toggle.waves-effect.waves-light(data-toggle="dropdown") - {{ child.item.name }}
                    i.open-third-level-menu.fa.fa-angle-right
                  ul.dropdown-menu.third-level-list

                    router-link(
                    v-for="(subchild, idx) in child.children"
                    v-if="subchild.item.activePage"
                    tag="li",
                    :key="subchild.item.activePage.slug",
                    :to="{name: 'page', params: {slug: subchild.item.activePage.slug}}",
                    )
                      a {{ subchild.item.name }}

                    router-link(
                    v-for="(subchild, idx) in child.children"
                    v-if="subchild.item.category"
                    tag="li",
                    :key="subchild.item.category.slug",
                    :to="{name: 'category', params: {slug: subchild.item.category.slug}}",
                    )
                      a {{ subchild.item.name }}

                template(v-else="")
                  a - {{ child.item.name }}

          template(v-else="")
            router-link(
              v-if="item.category"
              tag="a",
              class="dropdown-toggle waves-effect waves-light",
              :to="{name: 'category', params: {slug: item.category.slug}}") {{ item.name }}
            router-link(
              v-if="item.activePage"
              tag="a",
              class="dropdown-toggle waves-effect waves-light",
              :to="{name: 'page', params: {slug: item.activePage.slug}}") {{ item.name }}
      // User actions menu
      user-actions-menu
</template>

<script>
  import UserActionsMenu from './UserActionsMenu.vue';
  import {NAV_MENU_ENDPOINT} from '../../../resource';
  import {mapGetters, mapMutations} from 'vuex';

  export default {
    created() {
      this.$resource(NAV_MENU_ENDPOINT)
        .get()
        .then(response => response.json())
        .then((navigation) => this.navItems = navigation);
    },
    data() {
      return {
        navItems: []
      };
    },
    computed: {
      ...mapGetters('elements', ['navbarOpen'])
    },
    methods: {
      ...mapMutations('elements', ['toggleNavBar']),
      navItemClasses(item) {
        return {
          'dropdown': item.children.length > 0,
          'menu-item__name-two-lines': item.name.length > 18,
          'menu-item': true,
          'menu-item-root': true,
        };
      },
      // horrible shit here
      openedClassClear() {
        const opened = document.querySelectorAll('.third-level-list.opened');
        Array.prototype.forEach.call(opened,el => {
          el.classList.remove('opened');
        });
      },
      // horrible shit here
      onMouseClick(e) {
        this.openedClassClear();
        const elem = e.target.closest('.dropdown-toggle');
        if (elem) {
          const ulList = elem.nextSibling;
          if (Array.prototype.indexOf.call(ulList.classList, 'third-level-list') !== -1) {
            ulList.classList.add('opened');
            ulList.style.top = e.target.getBoundingClientRect().y + window.scrollY - 110 + 'px';
            e.stopPropagation();
          }
        }
      },
    },
    components: {
      UserActionsMenu
    }
  };
</script>

<style lang="stylus">
  .ucb-small-logo img
    position relative
    top 2px
    right 2px

  .menu-item.dropdown.open .dropdown-menu .third-level-list.opened
    display: block !important;
    position: absolute !important;
    left: 160px !important;
    top: 50%;
    z-index 9

  .open-third-level-menu
    position: relative;
    left: 10px;
    top: 1px;
    font-weight: bold;
    font-size: 1.2em;

  .navbar__burger
    cursor pointer
    display none
    font-size 2em
    color #fff
    width 15%
    text-align right
    margin 0
    padding 0
    position relative
    bottom 7px
    top 4px

  .site-topbar .nav-bar-header
    display inline-block
    width 80%

  .site-topbar .nav-bar-header > span
    color #fff
    letter-spacing 0.1em

  .site-topbar .nav-bar-header > h4
    color #fff
    font-weight bold
    display inline-block

  .site-topbar .nav-bar-header img
    margin-bottom 6px

  .nav-bar-header
    cursor pointer

  .menu-navigation .home-page-navigation
    display none
    
  .menu-navigation > .navbar-nav > li 
    font-family "UniCreditBold", "Helvetica Neue", Helvetica, Arial, sans-serif !important
    font-weight bold
    font-size 1.2em
    text-align center

  @media (min-width: 880px) and (max-width: 1007px)
    .menu-navigation > .navbar-nav > li
      font-size 1.4em

  .menu-navigation > .navbar-nav > li > ul.dropdown-menu > li 
    font-family "UniCreditRegular", "Helvetica Neue", Helvetica, Arial, sans-serif !important
    font-weight normal

  @media (min-width: 1715px)
    .menu-navigation .home-page-navigation
      display block

  @media (max-width: 770px)

    .menu-navigation
      display flex
      flex-wrap wrap

    .user-actions-menu li
      display block !important
      width 100%
      font-size 1.5em !important
      &> a > i
        display none

    .site-topbar .menu-item__name-two-lines, .site-topbar .menu-item
      &> a
        max-width inherit

    .menu-navigation
      opacity 0
      visibility hidden
      transition all 0.3s

    .open .menu-navigation
      opacity 1
      visibility visible

    .navbar__burger
      display inline-block

    .navbar
      height 50px;
      transition height 0.3s ease;

    .navbar.open
      height 200%

    .navbar.open .menu-navigation > .navbar-nav
      width 100%

    .menu-navigation
      width 100%

    .menu-navigation .home-page-navigation
      display block

    .menu-item .dropdown-menu
      width 100% !important

  @media (max-width: 400px)
    .navbar__burger
      margin 0
    .nav-bar-header
      line-height 0
      &>h4
        font-size 1em
        margin 0

</style>