<template lang="pug">
  ul.nav.navbar-nav.navbar-right.pull-right.user-actions-menu
    li.top-menu-item-xs(v-for="item in items" :class="{'dropdown': item.children.length}")
      router-link(
      v-if="item.isRouterLink"
      tag="a",
      :to="item.to",
      :data-toggle="item.children.length > 0 ? 'dropdown' : ''",
      aria-expanded="false",
      class="profile waves-effect waves-light"
      )
        i(:class="item.iconClass")
        | &nbsp; {{ item.name }}
      a.profile.waves-effect.waves-light(
      v-else="",
      :href="item.to",
      :data-toggle="item.children.length > 0 ? 'dropdown' : ''",
      aria-expanded="false"
      )
        i(:class="item.iconClass")
        | &nbsp; {{ item.name }}
      ul.dropdown-menu(v-if="item.children")
        li(v-for="child in item.children")
          router-link(v-if="child.isRouterLink" :to="child.to")
            i(:class="child.iconClass")
            | {{ child.name }}
          a(v-else="" href="child.to")
            i(:class="child.iconClass")
            | {{ child.name }}
    // search
    li.top-menu-item.top-menu-item-search-form-block
      search-form
    li.hidden-xs.top-menu-item-search-s
      router-link(
      tag="a",
      :to="{name: 'search'}",
      class="waves-effect waves-light",
      aria-expanded="true"
      )
        i.fa.fa-search
        | &nbsp;&nbsp;Поиск
</template>

<script>
  import {mapGetters} from 'vuex';
  import SearchForm from '../SearchForm.vue';

  // todo move search form to component
  export default {
    computed: {
      ...mapGetters('user', ['userLogin', 'user', 'isAdmin']),
      items() {
        const items = [];
        if (this.userLogin && this.isAdmin) {
          items.push({
            name: 'Админ',
            iconClass: ['fa', 'fa-dashboard'],
            isRouterLink: false,
            to: '/admin',
            children: []
          });
        }
        if (this.userLogin) {
          items.push(
            {
              name: this.user.username,
              iconClass: ['fa', 'fa-key'],
              children: [
                {
                  name: 'Личный кабинет',
                  iconClass: ['m-r-10', 'ti-user'],
                  isRouterLink: true,
                  to: {name: 'account-profile'},
                },
                {
                  name: 'Выход',
                  iconClass: ['m-r-10', 'ti-power-off', 'text-default'],
                  isRouterLink: true,
                  to: {name: 'account-logout'},
                }
              ]
            }
          );
        } else {
          items.push(
            {
              name: 'Войти',
              iconClass: ['fa', 'fa-key'],
              isRouterLink: true,
              to: {name: 'account-login'},
              children: [],
            }
          );
        }

        return items;
      }
    },
    components: {
      SearchForm
    }
  }
</script>