.slider-image-block {
    margin-bottom: 20px;
}

.preview-image {
    max-width: 200px;
    display: inline-block;
    margin-right: 10px;
    padding: 2px;
    height: 160px;
}

.slider-image-block__link-block {
    display: inline-block;
}

.preview-image:last-child {
    margin-right: 0;
}

.preview-image > img {
    width: 100%;
    height: 80%;
}