@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Light.eot');
    src: url('FiraSans-Light.eot?#iefix') format('embedded-opentype'),
    url('FiraSans-Light.woff2') format('woff2'),
    url('FiraSans-Light.woff') format('woff'),
    url('FiraSans-Light.ttf') format('truetype'),
    url('FiraSans-Light.svg#FiraSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Regular.eot');
    src: url('FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('FiraSans-Regular.woff2') format('woff2'),
    url('FiraSans-Regular.woff') format('woff'),
    url('FiraSans-Regular.ttf') format('truetype'),
    url('FiraSans-Regular.svg#FiraSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Medium.eot');
    src: url('FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('FiraSans-Medium.woff2') format('woff2'),
    url('FiraSans-Medium.woff') format('woff'),
    url('FiraSans-Medium.ttf') format('truetype'),
    url('FiraSans-Medium.svg#FiraSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-SemiBold.eot');
    src: url('FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('FiraSans-SemiBold.woff2') format('woff2'),
    url('FiraSans-SemiBold.woff') format('woff'),
    url('FiraSans-SemiBold.ttf') format('truetype'),
    url('FiraSans-SemiBold.svg#FiraSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Bold.eot');
    src: url('FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('FiraSans-Bold.woff2') format('woff2'),
    url('FiraSans-Bold.woff') format('woff'),
    url('FiraSans-Bold.ttf') format('truetype'),
    url('FiraSans-Bold.svg#FiraSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}