<template lang="pug">
</template>

<script>
  import * as config from '../../config';
  import {mapActions} from 'vuex';

  export default {
    methods: mapActions('user', ['authorizeByApi']),
    created() {
      const redirect_url = `${location.origin}${this.$route.path}`;
      const AUTH_URL = `${config.API_ROOT}/auth?app_name=${config.API_APP_NAME}&app_key=${config.API_APP_KEY}&redirect_url=${redirect_url}`;

      if (!this.$route.query.code) {
        window.location.replace(AUTH_URL);
      }
      const code = this.$route.query.code;
      this.authorizeByApi({code, redirect_url});
      this.$router.history.push('/');
    },
  }
</script>

<style lang="stylus" scoped>
</style>