<template lang="pug">
</template>

<script>
  import {mapMutations} from 'vuex';

  export default {
    methods: mapMutations('user', ['userLogout']),
    created() {
      this.userLogout();
      this.$router.history.push({name: 'home'});
    },
  }
</script>