<template lang="pug">
  page-layout
    div(v-if="user.username")
      h2 Логин : {{ user.username }}
      h2 Имя : {{ user.name }}
      router-link(
      tag="a",
      to="/",
      class="btn btn-default waves-effect waves-light"
      ) Вернуться на главую
</template>

<script>
  import PageLayout from '../layout/Page.vue';
  import {mapGetters, mapActions} from 'vuex';

  export default {
    computed: {
      ...mapGetters('user', ['user', 'userLogin']),
    },
    components: {
      PageLayout
    },
    methods: mapActions('user', ['requestProfile']),
    created() {
      document.title = 'Личный кабинет';
      this.requestProfile();
    }
  }
</script>

<style lang="stylus">
</style>