<template lang="pug">
  .widget
    .row
      .col-md-12.text-center.margin-bottom-20
        h4.header-title.m-t-0 Дни рождения
    .row
      .panel-collapse.collapse.in
        .portlet-body
          .table-responsive
            table.table
              thead
                tr
                  th Имя
                  th Дата
              tbody
                tr(v-for="(person, i) in persons" :key="i")
                  td {{ person.name }}
                  td
                    span.label.label-default {{ person.birthDate }}
</template>

<script>
  import {BIRTHDAY_ENDPOINT} from '../resource';
  import RequestResourceMixin from '../mixins/RequestResourceMixin';

  export default {
    data() {
      return {
        persons: [],
        resource: this.$resource(BIRTHDAY_ENDPOINT)
      }
    },
    mixins: [RequestResourceMixin],
    created() {
      this.requestResource().then(data => this.persons = data);
    },
  };
</script>

<style lang="stylus" scoped>
  table .label
    position: relative;
    top: 5px;
</style>