<template lang="pug">
  carousel(
  :navigationEnabled="true",
  :perPage="1",
  :autoplay="true",
  :navigationNextLabel="nav.navNext",
  :navigationPrevLabel="nav.navPrev"
  )
    slide(v-for="img in images", :key="img.src")
      a(v-if="img.link && !img.link_text", :href='img.link', target='_blank')
        .slide-image(:style="imageStyle(img)")

      .slide-box(v-else-if="img.link && img.link_text")
        .slide-link-box
          a.slide-link(v-if="img.link && img.link_text", :href='img.link', target='_blank').slide-image-link {{ img.link_text }}
        .slide-image(:style="imageStyle(img)")

      .slide-image(v-else="", :style="imageStyle(img)")

</template>

<script>
  import {Carousel, Slide} from 'vue-carousel';
  import {CAROUSEL_ENDPOINT} from '../resource';

  export default {
    props: {
      code: String
    },
    components: {
      Carousel,
      Slide
    },
    created() {
      this.$resource(CAROUSEL_ENDPOINT)
        .get({slug: this.code})
        .then(response => response.json())
        .then(({images}) => this.images = images);
    },
    watch: {
      '$route'(to) {
        if ((to.name || null) === 'home') {
          setTimeout(() => document.querySelector('.VueCarousel-dot') ? document.querySelector('.VueCarousel-dot').click() : 0, 2000);
        }
      }
    },
    data() {
      return {
        nav: {
          navNext: '<i class="fa fa-3x fa-angle-right"></i>',
          navPrev: '<i class="fa fa-3x fa-angle-left"></i>',
        },
        images: []
      }
    },
    methods: {
      imageStyle(img) {
        return {
          'background-image': `url(${img.src})`
        }
      }
    }
  };
</script>

<style lang="stylus">

  @import "../styles/_varibles.styl"

  .VueCarousel-navigation-button
    padding 0 !important

  .VueCarousel-dot-container
    position relative
    bottom 20px

  .slide-image
    height 364px
    background-position center
    background-repeat no-repeat
    background-size 100% 100%
    text-align center

  @media (min-width: 1715px)
    .slide-image
      height 365px

  .carousel-inner .item > img
    width 100%

  @media (min-width: 880px)
    .site-main-carousel
      padding 0 10px

  .slide-image-link
    text-decoration: none;
    color: white
    &:hover
      color mainRedColor

  .slide-link-box
    background rgba(0, 0, 0, .4);
    text-align center
    position absolute
    font-size 2em
    top 85%
    padding 15px 0
    width 100%

</style>