<template lang="pug">
  .widget.winners-widget
    .row
      .col-md-12.text-center.margin-bottom-20
        h4.header-title.m-t-0 {{ competitionTitle }}
    .row
      .col-md-4.col-xs-3(v-for="person in employers")
        .gal-detail.thumb
          .image-wrap
            img.thumb-img(:src="person.img", alt='work-thumbnail')
          h5.text-center
            span {{ person.name | firstName }}
            span {{ person.name | lastName }}
</template>

<script>
  import {COMPETITION_ENDPOINT} from '../resource';

  export default {
    created() {
      this.$resource(COMPETITION_ENDPOINT)
        .get()
        .then(response => response.json())
        .then(data => {
          this.competitionTitle = data.title;
          this.employers = data.items;
        });
    },
    filters: {
      firstName: name => name.split(' ')[0],
      lastName: name => name.split(' ')[1],
    },
    data() {
      return {
        employers: [],
        competitionTitle: ''
      }
    },
  }
</script>

<style lang="stylus">

  .image-wrap
    height 120px
    overflow hidden
    &> img
      min-height 80px

  @media screen and (min-width: 550px)
    .image-wrap
      height 140px
      overflow hidden
      &> img
        min-height 100px


  @media screen and (min-width: 750px)
    .image-wrap
      height 180px
      overflow hidden
      &> img
        min-height 130px

  @media screen and (min-width: 900px) and (max-width: 990px)
    .image-wrap
      height 200px
      overflow hidden
      &> img
        min-height 150px

  @media screen and (min-width: 991px) and (max-width: 1300px)
    .image-wrap
      height 80px
      overflow hidden
      &> img
        min-height 80px

  @media screen and (min-width: 1301px)
    .image-wrap
      height 130px
      overflow hidden
      &> img
        min-height 120px

  .winners-widget .gal-detail.thumb h5
    margin-bottom 0

  .winners-widget .gal-detail.thumb h5 span
    display block

  @media (min-width 1144px) and (max-width 1320px)
    .winners-widget .thumb > h5
      font-size 0.8em

  @media (max-width 600px)
    .winners-widget .row > div
      width 33%

  @media (min-width 600px) and (max-width 990px)
    .winners-widget .row > div
      margin 0 4%

  @media (min-width 990px) and (max-width 1144px)
    .winners-widget .thumb > h5
      font-size 0.7em
  
  @media (min-width 990px) and (min-width 1526px)
    .winners-widget 
      min-height 220px
    
  .winners-widget .thumb 
    box-shadow 0 3px 3px 0 rgba(226, 30, 30, 0.5)
    margin-top 0
  
</style>
