<template lang="pug">
  .widget.date-time-widget
    i.md.md-av-timer.text-danger.date-time-widget_icon
    .date-time-widget_date(v-if="curTime")
      b {{ curDate }}&nbsp;&nbsp;&nbsp;{{ curTime }}
</template>

<script>
  export default {
    data() {
      return {
        counter: null,
        curTime: null
      };
    },
    created() {
      this.counter = setInterval(() => this.curTime = this.getCurTime(), 1000);
    },
    destroyed() {
      clearTimeout(this.counter);
    },
    computed: {
      curDate() {
        let today = new Date();
        let dd = today.getDate();
        let mm = today.getMonth() + 1;
        const year = today.getFullYear();
        if (dd < 10) {
          dd = '0' + dd
        }
        if (mm < 10) {
          mm = '0' + mm
        }
        return mm + '-' + dd + '-' + year;
      },
    },
    methods: {
      getCurTime() {
        let today = new Date();
        let hh = today.getHours();
        let min = today.getMinutes();
        let sec = today.getSeconds();

        if (hh < 10) {
          hh = '0' + hh
        }
        if (min < 10) {
          min = '0' + min
        }
        if (sec < 10) {
          sec = '0' + sec
        }

        return hh + ':' + min + ':' + sec;
      }
    }
  };
</script>

<style lang="stylus" scoped>
  .date-time-widget
    text-align center

  .date-time-widget_icon, .date-time-widget_date
    display inline-block

  .date-time-widget_date
    text-align: center;
    position relative
    bottom 20px
    padding 0 5px
    font-size: 1.5em;

  .date-time-widget_icon
    text-align: center;
    font-size: 3.5em;
</style>