<template lang="pug">
  footer.footer
    | © 2018. UniCredit Bank
</template>

<script>
  export default {}
</script>

<style lang="stylus">
  @import '../styles/_varibles.styl'

  .footer
    position inherit !important
    background mainRedColor
    font-size 1.3em
    color #fff

</style>