<template lang="pug">
  .modal-wrap
    transition(name="modal")
      .modal-mask(v-if="open")
        .modal-wrapper
          .modal-container
            .modal-header
              button.close(type='button', @click="close") ×
              h4.modal-title {{ title }}
            .modal-body
              component(:is="component", :config="componentProps")

    .modal-backdrop.fade.in(:class="{hide: !open}")
</template>

<script>
  import {mapGetters, mapMutations} from 'vuex';

  export default {
    computed: {
      ...mapGetters('modal', {
        open: 'modalOpen',
        component: 'modalComponent',
        title: 'modalTitle',
        componentProps: 'modalComponentProps'
      }),
    },
    methods: {
      ...mapMutations('modal', {close: 'closeModal'}),
    },
    components: {
      ResponsibleUserForm: resolve => {
        require.ensure(['../components/forms/ResponsibleUserForm.vue'], () => {
          resolve(require('../components/forms/ResponsibleUserForm.vue'));
        }, 'resp-user-form');
      }
    }
  }
</script>

<style lang="stylus" scoped>

  .modal-buttons
    text-align center
    &> button
      width 45%

  .modal-mask
    position fixed
    z-index 9999
    top 0
    left 0
    width 100%
    height 100%
    background-color rgba(0, 0, 0, .5)
    display table
    transition opacity .3s ease

  .modal-wrapper
    display table-cell
    vertical-align middle

  .modal-container
    width 400px
    margin 0 auto
    padding 20px 30px
    background-color #fff
    border-radius 2px
    box-shadow 0 2px 8px rgba(0, 0, 0, .33)
    transition all .3s ease

  .modal-header h3
    margin-top 0
    color #42b983

  .modal-body
    margin 20px 0

  .modal-default-button
    float right

  .modal-enter
    opacity 0

  .modal-leave-active
    opacity 0

  .modal-enter .modal-container,
  .modal-leave-active .modal-container
    -webkit-transform scale(1.1)
    transform scale(1.1)

</style>