<template lang="pug">
  .news-widget
    .navbar.navbar-default.navbar
      ul.nav.navbar-nav.navbar__navbar-list
        li(
        v-for="rootCat in rootCategories",
        :key="'rc_' + rootCat.id",
        class="dropdown menu-item navbar__navbar-list-item",
        :class="{open: rootCat.id === openRootCategoryId, 'navbar__navbar-list-item_active-category': rootCat.id === activeRootCategory.id}",
        @click="onRootCategoryClick($event, rootCat)"
        )
          a.dropdown-toggle.waves-effect.navbar__root-category-item-link
            span.navbar__navbar-list-item-name {{ rootCat.name | capitalize }}
            i(
            v-if="rootCat.categories",
            @click="onRootCategoryOpenIconClick(rootCat)",
            class="fa navbar__navbar-list-item-open-icon",
            :class="{'fa-angle-right' : rootCat.id !== openRootCategoryId, 'fa-angle-down': rootCat.id === openRootCategoryId}"
            )
          ul.dropdown-menu.navbar__subcategory(v-if="rootCat.categories && rootCat.categories.length > 0")
            li(
            v-for="(category, idx) in rootCat.categories",
            :key="'c_' + idx",
            @click="onCategoryNameClick($event, category)"
            )
              a.navbar__category-item-link {{ category.title | capitalize }}
    .news
      h3.news__news-category-name {{ activeRootCategory.name }} {{ activeCategoryName | capitalize | slash }}
      transition(name="slide")
        template(v-if="news.length")
          transition-group(tag="ul" name="slide" class="list-group news__news-list news__container")
            li.list-group-item(v-for="newsItem in news", :key="newsItem.id")
              router-link(
              tag="a",
              class="news__news-item-link",
              :to="{name: 'news', params: {id: newsItem.id}}"
              ) {{ newsItem.title }}
              p.news__news-item-text
                span(v-if="newsItem.category") Сегмент:
                  span.news__news-publish-date {{ newsItem.category.title | capitalize }}
                span(v-if="newsItem.publish_date") Дата публикации:
                  time.news__news-publish-date {{ newsItem.publish_date | dateFilterDMY }}

                span(v-if="newsItem.publish_date") Дата ввода в действие:
                  time.news__news-start-date {{ newsItem.start_date | dateFilterDMY }}

        template(v-else="")
          .news__news-list.news__container
            h5 Страница пуста.
      .row
        .col-md-4
          pagination(@onPageChange="fetchNews")
        .col-md-8
          router-link(
          tag="a",
          class="btn btn-default news__news-category-link",
          :to="categoryRoute"
          ) Смотреть &nbsp;
            b {{ activeRootCategory.name }} {{ activeCategoryName | capitalize | slash }}

</template>

<script>
  import {NEWS_CATEGORIES_ENDPOINT, NEWS_NEWS_ENDPOINT} from '../resource';
  import Pagination from './Pagination.vue';
  import {mapMutations} from 'vuex';

  export default {
    created() {
      this.activeRootCategory = this.rootCategories[0];
      this.$resource(NEWS_CATEGORIES_ENDPOINT)
        .get()
        .then(response => response.json())
        .then(data => this.rootCategories = this.rootCategories.concat(data))
        .then(() => this.fetchNews())
    },
    components: {
      Pagination
    },
    data() {
      return {
        rootCategories: [
          {id: 0, name: 'Все новости'}
        ],
        openRootCategoryId: 0,
        activeRootCategory: 0,
        activeCategory: null,
        news: [],
      }
    },
    computed: {
      categoryRoute() {
        const c_id = this.activeCategory ? this.activeCategory.id : this.activeRootCategory.id;

        return (!this.activeCategory ? '/news-root-category/' : '/news-category/') + (c_id || '');
      },
      activeCategoryName() {
        return this.activeCategory ? this.activeCategory.title : '';
      }
    },
    watch: {
      news() {
        this.setPageDisabled(this.news.length < 5);
      },
      '$route'(to) {
        if (to.name === 'home') {
          this.setPage(1);
        }
      }
    },
    methods: {
      ...mapMutations('elements', {
        setPage: 'paginationSetPage',
        setPageDisabled: 'paginationSetNexPageDisabled',
      }),
      onRootCategoryClick(event, rootCategory) {
        if (event.target.tagName === 'I') {
          return;
        }
        this.openRootCategoryId = null;
        this.activeRootCategory = rootCategory;
        // if click on sub-category
        if (event.target.classList[0] === 'navbar__category-item-link') {
          return;
        }
        this.activeCategory = null;
        this.setPage(1);
        this.fetchNews(1);
      },
      onRootCategoryOpenIconClick(rootCategory) {
        if (rootCategory.id !== this.openRootCategoryId) {
          this.openRootCategoryId = rootCategory.id;
        } else {
          this.openRootCategoryId = null;
        }
      },
      onCategoryNameClick(event, category) {
        this.activeCategory = category;
        this.setPage(1);
        this.fetchNews(1);
      },
      fetchNews(page = 1) {
        const params = {
          page,
          type: '1,2,3' // все категории кроме системы шаблонов
        };
        if (
          this.activeRootCategory &&
          this.activeRootCategory.id &&
          !this.activeCategory
        ) {
          params.global_category_id = this.activeRootCategory.id;
        }
        if (this.activeCategory) {
          params.category_id = this.activeCategory.id;
        }
        this.$resource(NEWS_NEWS_ENDPOINT)
          .get(params)
          .then(response => response.json())
          .then(news => this.news = news)
      }
    }
  }
</script>

<style lang="stylus" scoped>
  @import '../styles/_varibles.styl';

  .navbar__navbar-list-item_active-category
    font-weight bold
    background-color lightRedColor;

  .navbar
    background-color mainRedColor !important

  .navbar__navbar-list-item > .dropdown-menu > li
    cursor pointer

  .navbar__navbar-list-item-open-icon
    font-size 2em
    width 26px
    &:before
      position relative
      top 4px
      left 8px
    &:hover
      color grey

  .news
    margin-top 10px

  .news__container
    height 620px
    overflow-y hidden
    overflow-x hidden

  .news__news-category-name
    text-align center

  .news__news-item-text
    font-size 1.2em

  .news__news-item-link
    font-weight bold
    font-size 1.2em
    padding: 0 10px;
    color mainRedColor

  .news__news-publish-date, .news__news-start-date
    padding 0 5px
    font-weight bold

  .navbar__subcategory
    max-height 450px
    overflow auto

  .slide-enter-active  
    transition  all .3s ease
   
  .slide-leave-active  
    transition  all .1s
   
  .slide-enter  
    transform  translateX(100%) 
    opacity  0 
   
  .slide-leave  
    transform  translateX(-100%)

  .navbar__root-category-item-link
    font-size 1.4em !important

  .news-widget .navbar
    height 60px

  @media (min-width: 980px) and (max-width: 1300px)
    .navbar__root-category-item-link
      font-size 1em !important

  @media (max-width: 767px)
    .news-widget .navbar
        height auto

    .news-widget .navbar-nav .open .dropdown-menu
      position relative

    .news-widget .navbar__category-item-link
      font-size 1.5em
      margin 5px

    .news-widget .navbar__navbar-list-item
      background mainRedColor

</style>