<template lang="pug">
  ul.pagination
    li.paginate_button.previous(@click="page--", :class="{disabled: page <= 1}")
      span
        i.fa.fa-angle-left
    li.paginate_button.active
      span {{ page }}
    li.paginate_button.next(@click="page++", :class="{disabled: nextPageDisabled}")
      span
        i.fa.fa-angle-right
</template>

<script>
  import {mapGetters, mapMutations} from 'vuex';

  export default {
    computed: {
      ...mapGetters('elements', {
        currentPage: 'paginationPage',
        nextPageDisabled: 'paginationNextPageDisabled'
      }),
      page: {
        get() {
          return this.currentPage;
        },
        set(value) {
          if (this.nextPageDisabled && (value > this.currentPage)) {
            return;
          }
          this.setPage(value <= 0 ? 1 : value);

          if (value > 0) {
            this.$emit('onPageChange', this.currentPage);
          }
        }
      },
      activeCategoryName() {
        return this.activeCategory ? this.activeCategory.title : '';
      }
    },
    methods: {
      ...mapMutations('elements', {
        setPage: 'paginationSetPage'
      })
    }
  }
</script>

<style lang="stylus" scoped>
  .previous i, .next i
    top 2px
    position relative

  .pagination
    margin 0
    &> .paginate_button
      cursor pointer

  .pagination span
    height: 34px;
</style>