<template lang="pug">
  .widget.responsible-user-widget.row
    .col-md-12.col-md-12.text-center.header-title
      h2.header-title Ответственный
    .col-md-12(v-if="responsibleUser")
      table.table
        tr
          td
            i.icon-user.text-danger
            b {{ responsibleUser.user }}
          td
            span.label.label-default {{ responsibleUser.from | timeFilter }} - {{ responsibleUser.to | timeFilter }}
          td
            b Тел. {{ responsibleUser.phone }}
          td(v-if="userCanBeResponsible || isAdmin")
            button.btn.btn-default.edit-responsible-user(@click="showModalWindow")
              i.icon-pencil.text-default
</template>

<script>
  import {mapGetters, mapActions, mapMutations} from 'vuex';
  import moment from 'moment-mini';

  export default {
    data() {
      return {

      };
    },
    created() {
      this.getResponsibleUser();
    },
    computed: {
      ...mapGetters('user', ['userLogin', 'user', 'userCanBeResponsible', 'isAdmin']),
      ...mapGetters('responsible_user', ['responsibleUser']),
    },
    filters: {
      timeFilter: value => moment(value).format('H:mm')
    },
    methods: {
      ...mapMutations('responsible_user', ['setResponsibleUser']),
      ...mapActions('responsible_user', ['getResponsibleUser', 'changeResponsibleUser']),
      ...mapMutations('modal', {
        openModal: 'openModal',
        closeModal: 'closeModal',
      }),
      showModalWindow() {
        this.openModal({
          component: 'responsible-user-form',
          title: 'Назначить ответственного',
          componentProps: {
            username: this.user.name,
            submit: data => {
              this.changeResponsibleUser(data);
              this.closeModal();
            }
          }
        });
      },
    },
  };
</script>

<style lang="stylus" scoped>

  .responsible-user-widget .header-title
    margin-bottom 7px

  .edit-responsible-user
    float right
    color #fff
    height 22px
    padding 4px

  .responsible-user-widget i.icon-user
    padding-right 10px

</style>