<template lang="pug">
  .block(v-if="userLogin")
    transition(name="fade")
      a.link-add.link-add__add(v-if="!link")
        img(@click="add" src="../images/svg/icon-bookmark-not-added.svg" alt="Сохранить в закладки")
      a.link-add.link-add__remove(v-else="")
        img(@click="remove" src="../images/svg/icon-bookmark-added.svg" alt="Удалить из закладок")
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';
  import _ from 'lodash';

  export default {
    computed: {
      ...mapGetters('user', ['userSavedLinks', 'userLogin']),
      link() {
        return _.find(this.userSavedLinks, {route: this.$route.path});
      }
    },
    methods: {
      ...mapActions('user', ['addUserSavedLink', 'removeUserSavedLink']),
      add() {
        const route = this.$route.path;
        const title = document.title;
        this.addUserSavedLink({route, title});
      },
      remove() {
        this.removeUserSavedLink(this.link);
      },
    }
  }
</script>

<style lang="stylus" scoped>
  @import "../styles/_varibles.styl";

  .link-add
    position absolute
    right 20px
    margin 10px
    cursor pointer
    z-index 9

  .link-add__add
  // some code
  .link-add:hover
    color mainRedColor

  .label
    position absolute
    z-index 9
    right 20px
    font-size 1em

  @media (min-width: 1600px)
    .link-add
      right 180px !important


</style>