<template lang="pug">
  .widget
    .row
      .col-md-12.text-center.margin-bottom-20
        .block-bookmarks
          h4.header-title.m-t-0 Избранное
          template(v-if="!userLogin")
            p Необходимо авторизоваться
            router-link(
              tag="a",
              class="btn btn-default waves-effect waves-light",
              :to="{name: 'account-login'}"
              ) Войти
          template(v-else-if="userSavedLinks.length")

            transition-group(name='list', tag='ul', class="list-group")
              li(v-for='(link, idx) in userSavedLinks', :key='link.route', class="list-item list-group-item")
                router-link(tag="a", :class="linkClasses", :to="link.route", :key="idx + link.route")
                  i.fa.fa-font-awesome
                    |&nbsp;&nbsp;&nbsp;{{ link.title | cut(30) }}
                button.btn.btn-default.user-saved-link-delete-button(@click="removeLink(link)") ✘

          template(v-else="")
            p Нет сохраненных ссылок
</template>

<script>
  import {mapGetters, mapActions, mapMutations} from 'vuex';

  export default {
    computed: {
      ...mapGetters('user', ['userLogin', 'user', 'userSavedLinks']),
    },
    data() {
      return {
        linkClasses: 'user-saved-link btn btn-block btn-custom btn--md btn-default waves-effect waves-light'
      }
    },
    methods: {
      ...mapActions('user', ['removeUserSavedLink']),
      ...mapMutations('modal', {
        openModal: 'smallModalOpen',
      }),
      removeLink(link) {
        this.openModal({
          title: 'Внимание',
          body: 'Удалить закладку ?',
          confirm: () => this.removeUserSavedLink(link)
        });
      },
    },
  }
</script>

<style lang="stylus" scoped>
  li
    padding 0
    margin-bottom 2px
    border none

  .user-saved-link
    width 85%
    display inline-block !important

  .user-saved-link-delete-button
    display inline-block !important
    margin: 4px;
    padding: 0;
    width: 24px;
    height: 25px;

  .block-bookmarks h4
    margin-bottom 20px

  .block-bookmarks a
    text-align left

  .block-bookmarks a i
    padding-right 10px

  .list-item 
    width 100%
    transition all 1s
    display inline-block
  
  .list-enter, .list-leave-to 
    opacity 0
    transform translateY(30px)
  
  .list-leave-active 
    position absolute

</style>