body
  font-family "UniCreditRegular", "Helvetica Neue", Helvetica, Arial, sans-serif !important

.page-content
  margin-top 16px
  min-height: 800px;

.margin-bottom-20
  margin-bottom 20px

@media (min-width 1600px)
  .content
    margin 0 8%

ol, ul
  list-style none
  padding-left 0

p
  margin: 10px 0 10px !important;

.nav.nav-tabs
  background #b4b4b4

.bootstrap-tabs
  margin-top 20px
  border 1px solid #b4b4b4
  border-radius 5px
  &> .nav.nav-tabs
    border-left solid #b4b4b4
    border-right solid #b4b4b4
    border-top solid #b4b4b4
    border-width 0.01em
    border-top-rigth-radius 5px
    border-top-left-radius 5px
    &> .nav-item.active a
      border-left: solid #b4b4b4;
      border-right: solid #b4b4b4;
      border-top: solid #b4b4b4;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-width 0.001em

.nav.nav-tabs .tab-content
  background #fdfcfc !important

.card.collapsible-item
  cursor pointer
  border 1px solid #dadada
  border-radius 5px
  padding 0 10px
  box-shadow 0 5px 20px rgba(0, 0, 0, 0.05)
  -webkit-box-shadow 0 5px 20px rgba(0, 0, 0, 0.05)
  -moz-box-shadow 0 5px 20px rgba(0, 0, 0, 0.05)

