@font-face {
    font-family: "UniCreditRegular";
    src: url("../fonts/UniCreditRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "UniCreditBold";
    src: url("../fonts/UniCreditBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
