<template lang="pug">
  .content
    save-link-button(v-if="canBeSave")
    .container.page-content
      .row
        .col-lg-12.col-md-12
          .row
            .card-box.page-main-content
              main.container
                slot
</template>

<script>
  import SaveLinkButton from './../SaveLinkButton.vue';

  export default {
    props: {
      // can user save this page as favorite
      canBeSave: {
        type: Boolean,
        default: true
      }
    },
    components: {
      SaveLinkButton
    }
  }
</script>

<style lang="stylus" scoped>
  .content, .page-main-content
    min-height 100%
</style>