.preview-image img:hover {
    cursor: pointer;
    height: 120px;
}

.preview-image.selected img:hover {
    cursor: pointer;
}

.preview-image img {
    height: 100px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: darkgrey 4px 4px 4px;
    transition: all .2s ease;
}

.preview-image.selected img {
    padding: 5px;
    border: 2px solid green;
    height: 120px;
}
.preview-image.selected:after {
    content: "✅";
    font-size: 2em;
    position: relative;
    top: -30px;
    right: 47px;
    font-weight: bold;
    color: green;
}

.using-image img {
    height: 150px;
    border: 1px solid;
    border-radius: 5px;
}

#images-list {
    list-style: none !important;
}

#images-list li {
    margin: 5px;
    display: inline-block;
}
.field-templatebackgroundform-imagefilename {
   display: none;
}

a.image-delete {
    display: block;
    text-align: right;
}

a.image-delete:after{
    content: '❌';
    font-size: 1.5em;
    position: relative;
    font-weight: bold;
    color: red;
}
