<template lang="pug">
  .wrap
    p Назначить ответственным &nbsp;
      b {{ config.username }}
    form(@submit="submit")

      time-input(v-model="from", name="from" label="С", placeholder="Время начала", @error="addError", @valid="removeError", required)
      time-input(v-model="to", name="to" label="По", placeholder="Время окончания", @error="addError", @valid="removeError", required)
      phone-input(v-model="phone", name="phone" label="Телефон", placeholder="Телефон", @error="addError", @valid="removeError", required)
      .form-group
        span.form-text.text-muted(v-show="errors.form") {{ errors.form || '' }}
      .form-group
        button.btn.btn-default(type="submit", :disabled="!valid") Назначить

</template>

<script>
  import TimeInput from './components/TimeInput.vue';
  import PhoneInput from './components/PhoneInput.vue';
  import moment from 'moment-mini';

  export default {
    props: ['config'],
    data() {
      return {
        from: '',
        to: '',
        phone: '',
        errors: {from: true, to: true, phone: true, form: true},
        valid: false
      };
    },
    components: {
      TimeInput,
      PhoneInput
    },
    methods: {
      submit(e) {
        e.preventDefault();
        if (this.valid) {

          this.config.submit({
            from: moment(this.createDate(this.from)).format('YYYY-MM-DD H:mm:ss'),
            to: moment(this.createDate(this.to)).format('YYYY-MM-DD H:mm:ss'),
            phone: this.phone,
          });
        }
      },
      createDate(hoursMinutes) {
        const date = new Date();
        date.setHours(hoursMinutes.slice(0, 2));
        date.setMinutes(hoursMinutes.slice(3));
        date.setSeconds(0);
        return date;
      },
      addError(e) {
        this.errors[e.name] = e.error;
        this.validate();
      },
      removeError(e) {
        delete this.errors[e.name];
        this.validate();
      },
      validate() {
        this.valid = !this.errors.from && !this.errors.to && !this.errors.phone;

        if (
          this.valid
          && (moment(this.createDate(this.to)).diff(this.createDate(this.from)) <= 0)
        ) {
          this.errors.form = 'Ошибка временного интервала';
          this.valid = false;
        } else {
          delete(this.errors.form);
        }
      }
    }
  };
</script>

<style lang="stylus">

</style>