<template lang="pug">
  not-found(v-if="pageNotFound")
  app-error(v-else-if="pageError")
  page-layout(v-else-if="category")
    .page-content
      h2.category_header {{ category.item.name }}
      template(v-if="pages.length")
        h3 Статьи
        ul.list-group
          router-link(
          v-for="(page in pages"
          tag="li",
          :to="{name: 'page', params: {slug: page.slug}}",
          :key="page.slug"
          class="list-group-item"
          )
            b.page_name {{ page.title }}
            br
            span.category_name (Категория : {{ page.category.name }})
      template(v-else="")
        p Данная категория не содержит статей.
        router-link(tag="button", to="/", :class="'btn btn-default'") На главную

</template>

<script>
  import PageLayout from '../layout/Page.vue';
  import {CATEGORY_ENDPOINT} from '../../resource';
  import RequestResourceMixin from '../../mixins/RequestResourceMixin';
  import NotFound from '../pages/NotFound.vue';
  import AppError from '../pages/Error.vue';
  import _ from 'lodash';

  export default {
    data() {
      return {
        // RequestResourceMixin contains pageNotFound property
        category: null,
        pages: [],
        resource: this.$resource(CATEGORY_ENDPOINT)
      };
    },
    created() {
      this.requestResource({slug: this.$route.params.slug})
        .then(data => this.category = data)
        .then(() => this.pages = this.category ? this.getChildrenPages(this.category.children, this.category.item.name) : []);
    },
    mixins: [RequestResourceMixin],
    methods: {
      getChildrenPages(children, catName = '') {
        return _.reduce(children, (pages, child) => {
          if (child.children && child.children.length > 0) {
            pages = pages.concat(this.getChildrenPages(child.children, child.item.name));
          }
          const appendThis = child.item ?
            child.item.pages.map(page => {
              return {...page, category: {slug: child.item.slug, name: `${catName} - ${child.item.name}`}}
            }) : [];

          return pages.concat(appendThis);
        }, [])
      }

    },
    components: {
      PageLayout,
      NotFound,
      AppError,
    }
  }
</script>

<style lang="stylus" scoped>

  @import '../../styles/_varibles.styl';

  .category_header
    text-align center

  .list-group-item
    color black
    font-size 1.1em
    &:hover
      cursor pointer
      color #fff
      background-color lightRedColor

    &> .page_name
      padding-right 5px

</style>