<template lang="pug">
  page-layout(:canBeSave="false")
    div
      .ex-page-content.text-center
        h1 Произошла ошибка сервера
        .error-500-image
        br
        p.error-500-text Мы уже работаем над устранением ошибки, но это не точно.
        br
        router-link(
        tag="a",
        to="/",
        class="btn btn-default waves-effect waves-light"
        ) Вернуться на главую
</template>

<script>
  import PageLayout from '../layout/Page.vue';

  export default {
    components: {
      PageLayout
    },
  }
</script>

<style lang="stylus" scoped>

  .error-500-text
    font-size 1.5em

  .error-500-image
    height 20em
    width 20em
    border 1px solid white
    border-radius 230px
    background-image url("/public/500_.png")
    background-repeat no-repeat
    background-size cover
    background-position center
    opacity .3
    margin auto

</style>