<template lang="pug">
  main-layout
    carousel(slot="top-left", class="carousel-block", code="main")
    competition(slot="top-right-1")
    responsible-user(slot="top-right-2", class="responsible-user")
    birthday-list(slot="row-2-right")
    news-widget(slot="row-2-left")
    saved-links(slot="row-3-right")
</template>

<script>
  import MainLayout from '../layout/MainTwoColumns.vue';
  import Carousel from '../Carousel.vue';
  import ResponsibleUser from '../ResponsibleUser.vue';
  import Competition from '../Competition.vue';
  import BirthdayList from '../BirthdayList.vue';
  import SavedLinks from '../SavedLinks.vue';
  import NewsWidget from '../NewsWidget.vue';

  export default {
    name: 'homePage',
    components: {
      MainLayout,
      Carousel,
      Competition,
      BirthdayList,
      SavedLinks,
      ResponsibleUser,
      NewsWidget
    }
  }
</script>

<style lang="stylus">

  .carousel-block
    padding-bottom 15px
    padding-left 5px
    padding-right 5px

</style>