<template lang="pug">
  not-found(v-if="pageNotFound")
  app-error(v-else-if="pageError")
  page-layout(v-else="")
    .page-content(v-if="page")
      .widget-bg-color-icon
        .bg-icon.bg-icon-danger.pull-left
          i.icon-layers.text-danger
        .text-right
          h2.text-dark.text-center
            b {{ page.title }}
          .text-muted.news-item-info
            b(v-if="page.publish_date") Дата ввода действия :&nbsp;
            | {{ page.publish_date | dateFilterDMY }}
            br
            b(v-if="page.category") Сегмент :&nbsp; {{ page.category.title | capitalize }}
            br
            b(v-if="page.product") Продукт :&nbsp; {{ page.product }}
        .clearfix
      .page-html-content
        .row
          .col-md-12.col-xs-12(v-html="page.text")
        .row
          .col-md-6.col-xs-12
            .panel.panel-default.panel-border(v-if="page.attachedFiles.length > 0")
              .panel-heading
                h3.panel-title Прикрепленные файлы
              .panel-body
                ul.list-group
                  li.list-group-item(v-for="attachedFile in page.attachedFiles")
                    a(
                    :href="attachedFile.link",
                    target="_blank"
                    ) {{ attachedFile.name }}
      .row
        router-link(tag="button", to="/", :class="'btn btn-default'") На главную
</template>

<script>
  import PageLayout from '../layout/Page.vue';
  import NotFound from '../pages/NotFound.vue';
  import AppError from '../pages/Error.vue';
  import {NEWS_NEWS_ENDPOINT} from '../../resource';
  import RequestResourceMixin from '../../mixins/RequestResourceMixin';

  export default {
    created() {
      this.requestResource({id: this.$route.params.id})
        .then(data => this.page = data)
        .then(() => document.title = 'Новость ' + this.page.title)
    },
    mixins: [RequestResourceMixin],
    data() {
      return {
        // RequestResourceMixin contains pageNotFound property
        page: null,
        resource: this.$resource(NEWS_NEWS_ENDPOINT)
      };
    },
    components: {
      PageLayout,
      NotFound,
      AppError
    }
  }
</script>

<style lang="stylus" scoped>
  .news-item-info
    float right
    text-align left

  .page-content
    &> h2
      text-align center
  .page-html-content
    font-size 1.2em
    margin-bottom 20px

  .page-content table
    width 100% !important;

</style>