<template lang="pug">
  not-found(v-if="pageNotFound")
  app-error(v-else-if="pageError")
  page-layout(v-else="")
    .page-content(v-if="category && news")
      h2.category_header Новости {{ globalCategoryName | capitalize }} {{ categoryName | capitalize }}
      template(v-if="news.length")
        pagination(:currentPage="page", @onPageChange="onPageChange", :nextPageDisabled="nextPageDisabled")
        br
        br
        ul.list-group
          li.list-group-item(v-for="newsItem in news", :key="newsItem.id")
            router-link(
            tag="a",
            class="news__news-item-link",
            :to="{name: 'news', params: {id: newsItem.id}}"
            )
            h3 {{ newsItem.title }}
            ul
              li
                b(v-if="newsItem.category") Сегмент:
                  span.news__news-publish-date {{ newsItem.category.title | capitalize }}
              li
                b(v-if="newsItem.publish_date") Дата публикации:
                  time.news__news-publish-date {{ newsItem.publish_date | dateFilterDMY }}
              li
                b(v-if="newsItem.publish_date") Дата ввода в действие:
                  time.news__news-start-date {{ newsItem.start_date | dateFilterDMY }}
            .news-content(v-html="newsItem.text")
            router-link(
            tag="a",
            class="btn btn-default",
            :to="{name: 'news', params: {id: newsItem.id}}"
            ) Перейти

      template(v-else="")
        .news__news-list.news__container
          h5(v-if="page === 0") По данному разделу новостей нет.
          h5(v-else="") Страница пуста.
      pagination(@onPageChange="onPageChange")
      hr
      router-link(tag="button", to="/", :class="'btn btn-default'") На главную
</template>

<script>
  import PageLayout from '../layout/Page.vue';
  import NotFound from '../pages/NotFound.vue';
  import AppError from '../pages/Error.vue';
  import Pagination from '../Pagination.vue';
  import {NEWS_NEWS_ENDPOINT, NEWS_CATEGORIES_ENDPOINT} from '../../resource';
  import RequestResourceMixin from '../../mixins/RequestResourceMixin';
  import {mapMutations, mapGetters} from 'vuex';

  export default {
    mixins: [RequestResourceMixin],
    data() {
      return {
        // RequestResourceMixin contains pageNotFound property
        newsPage: null,
        news: null,
        //page: +this.$route.query.page || 1,
        category: null,
        resource: this.$resource(NEWS_CATEGORIES_ENDPOINT),
        nextPageDisabled: false
      };
    },
    created() {
      this.setPage(+this.$route.query.page || 1);
      if (!+this.$route.params.category_id) {
        this.category = {title: ''};
        document.title = 'Все Новости';
        this.fetchNews(this.page);
      } else {
        // сначала запаршиваем категорию
        this.requestResource({id: this.$route.params.category_id})
          .then(data => this.category = data)
          .then(() => document.title = `Новости ${this.globalCategoryName} ${this.categoryName}`)
          .then(() => this.fetchNews(this.page));
      }
    },
    computed: {
      ...mapGetters('elements', {
        page: 'paginationPage'
      }),
      globalCategoryName() {
        if (!this.category || !this.category.globalCategory) {
          return '';
        }
        return this.category.globalCategory.name;
      },
      categoryName() {
        return this.category ? this.category.title : '';
      },

    },
    watch: {
      news() {
        this.setPageDisabled(this.news.length < 5);
      }
    },
    methods: {
      ...mapMutations('elements', {
        setPage: 'paginationSetPage',
        setPageDisabled: 'paginationSetNexPageDisabled',
      }),
      onPageChange(page) {
        this.setPage(page);
        this.$router.push({path: this.$route.path, query: {page}});
        this.fetchNews(page);
      },
      fetchNews(page = 1) {
        // переключаем эндпоинт
        this.resource = this.$resource(NEWS_NEWS_ENDPOINT);
        // запрашиваем новости по категории
        const isRoot = this.$route.path.includes('root');

        this.requestResource({
          page,
          category_id: isRoot ? null : this.$route.params.category_id,
          global_category_id: isRoot ? this.$route.params.category_id : null,
        }).then(data => this.news = data);

      }
    },
    components: {
      PageLayout,
      NotFound,
      AppError,
      Pagination
    }
  }
</script>

<style lang="stylus" scoped>
  .news-item-info
    float right
    text-align left

  .page-content
    & > h2
      text-align center

  .page-html-content
    font-size 1.2em
    margin-bottom 20px

  .page-content table
    width 100% !important;

</style>