<template lang="pug">
  page-layout(:canBeSave="false")
    div
      .ex-page-content.text-center
        .text-error
          span 4
          i.ti-face-sad
          span 4
        h2 Страница не найдена
        br
        p.text-muted Данная страница не существует или была удалена.
        br
        router-link(
        tag="a",
        to="/",
        class="btn btn-default waves-effect waves-light"
        ) Вернуться на главую
</template>

<script>
  import PageLayout from '../layout/Page.vue';

  export default {
    created() {
      this.send404(this.$route.path);
    },
    components: {
      PageLayout
    },
    watch: {
      '$route'() {
        this.send404(this.$route.path).catch(() => {});
      }
    },
    methods: {
      send404(url) {
        this.$http.post('404', {url}).catch(() => {});
      }
    }
  }
</script>

<style lang="stylus" scoped>
  @import "../../styles/_varibles.styl";
  .text-error
    color lightRedColor !important
  .ti-face-sad
    color mainRedColor !important
</style>