<template lang="pug">
  not-found(v-if="pageNotFound")
  app-error(v-else-if="pageError")
  page-layout(v-else-if="page")
    .page-content
      h2 {{ page.title }}
      .page-html-content(v-html="page.content")
      router-link(tag="button", to="/", class="btn btn-default") На главную

</template>

<script>
  import PageLayout from '../layout/Page.vue';
  import NotFound from '../pages/NotFound.vue';
  import AppError from '../pages/Error.vue';
  import {PAGE_ENDPOINT} from '../../resource';
  import RequestResourceMixin from '../../mixins/RequestResourceMixin';

  export default {
    created() {
      this.requestResource({slug: this.$route.params.slug})
        .then(data => this.page = data);
    },
    mixins: [RequestResourceMixin],
    data() {
      return {
        // RequestResourceMixin contains pageNotFound property
        page: null,
        resource: this.$resource(PAGE_ENDPOINT)
      };
    },
    watch: {
      /* Когда загружается контент, который содержит блок вкладок,
      надо сделать в каждом блоке первую вкладку активной
      Если есть аккордионы, то при клике на все тело вкладки заголовка аккордиона,
      дублируем этот клик на ссылку, чтобы аккордион открылся, костыль епт.
      */
      page(val) {
        if (!val) return;
        setTimeout(() => {
          // вкладки
          Array.prototype.forEach.call(document.querySelectorAll('.bootstrap-tabs'), tabsList => {
            const firstTab = tabsList.querySelector('.nav-item');
            if (firstTab) {
              firstTab.classList.add('active');
            }
          });
          // клики на аккордионах нах
          Array.prototype.forEach.call(document.querySelectorAll('.collapsible-item-title'), accordionHeader => {
            accordionHeader.addEventListener('click', e => {
              if (e.target.classList.contains('collapsible-item-title')) {
                const collapsible = e.target.parentNode.querySelector('.collapsible-item-title-link');
                if (collapsible) {
                  collapsible.click();
                }
              }
            })
          });
        }, 0);
      }
    },
    components: {
      PageLayout,
      NotFound,
      AppError
    }
  }
</script>

<style lang="stylus" scoped>
  .page-content
    & > h2
      text-align center

  .page-html-content
    font-size 1.2em

  .page-content table
    width 100% !important;

</style>