<template lang="pug">
  page-layout
    .container
      h1 Поиск по сайту
      form(@submit="search")
        .row
          .form-group.col-md-11
            input.form-control(type="text", v-model="searchValue")
          .form-group.col-md-1
            button.search-action.btn.btn-default(type="submit") Поиск &nbsp;
              i.fa.fa-search
      .search-results.row
        template(v-if="searchResults.length > 0")
          // верстка любая другая, если api будет возвращать HTML, то его можно отобразать используя v-html="result"
          ul.list-group
            li.list-group-item(v-for="(result, idx) in searchResults", :key=idx) {{ result }}
      router-link(
      tag="button",
      to="/",
      class="btn btn-default"
      ) << Главная
</template>

<script>
  import PageLayout from '../layout/Page.vue';
  import SearchForm from '../header/SearchForm.vue';
  import {SEARCH_ENDPOINT} from '../../resource';

  export default {
    created() {
      document.title = 'Поиск по сайту';
      this.searchValue = this.$route.query.search || '';
    },
    data() {
      return {
        value: null,
        searchResults: []
      }
    },
    computed: {
      searchValue: {
        get () {
          return this.value;
        },
        set (val) {
          this.value = val || '';
        }
      }
    },
    watch: {
      '$route'() {
        this.searchValue = this.$route.query.search;
      }
    },
    methods: {
      search(event) {
        event.preventDefault();
        if (!this.searchValue) {
          return;
        }
        this.$resource(SEARCH_ENDPOINT).get({
          search: this.searchValue
        })
          .then(res => res.json())
          .then(results => this.searchResults = results);
      }
    },
    components: {
      PageLayout,
      SearchForm
    }
  }
</script>

<style lang="stylus" scoped>
  .search-action
    height 38px !important
    width 100%
    padding 5px

</style>