.sidebar-nav > ul > li.active > a i {
    color: #fff;
}

.card.collapsible-item {
    margin: 0;
}

.card.collapsible-item h4 {
    margin: 0;
}

.bootstrap-tabs .nav-tabs {
    margin-bottom: 15px;
}