<template lang="pug">
  #app(:style="customBackground")
    top-bar
    vue-progress-bar
    .container.app-main
      transition(name="fade" mode="out-in" appear)
        keep-alive(include="homePage")
          router-view(:key="$route.path")
    small-modal
    modal-window
    app-footer
</template>

<script>
  import {mapActions, mapGetters} from 'vuex';
  import TopBar from './components/header/Header.vue';
  import AppFooter from './components/Footer.vue';
  import SmallModal from './components/SmallModal.vue';
  import ModalWindow from './components/ModalWindow.vue';

  export default {
    name: 'app',
    components: {
      TopBar,
      AppFooter,
      SmallModal,
      ModalWindow
    },
    created() {
      this.checkLogin();
      this.requestSettings();
    },
    computed: {
      ...mapGetters('settings', {customBackground: 'background'}),
    },
    methods: {
      ...mapActions('user', ['requestProfile', 'fetchUserSavedLinks']),
      ...mapActions('settings', ['requestSettings']),
      checkLogin() {
        if (localStorage.getItem('access_token')) {
          this.requestProfile();
          this.fetchUserSavedLinks();
        }
      }
    }
  };
</script>

<style lang="stylus">
  @import "./styles/common.styl";
  .app-main
    min-height 1000px;

  .fade-enter-active, .fade-leave-active
    transition opacity .5s ease

  .fade-enter, .fade-leave-active
    opacity 0
</style>
