html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon")
    link(href="/public/ubold/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="/public/ubold/css/core.css", rel="stylesheet" type="text/css")
    link(href="/public/ubold/css/components.css", rel="stylesheet" type="text/css")
    link(href="/public/ubold/css/icons.css", rel="stylesheet" type="text/css")
    link(href="/public/ubold/css/pages.css", rel="stylesheet" type="text/css")
    link(href="/public/ubold/css/responsive.css", rel="stylesheet" type="text/css")
    link(href="/public/css/fonts.css", rel="stylesheet" type="text/css")
    link(href="/public/css/material-design-iconic-font/css/materialdesignicons.min.css", rel="stylesheet" type="text/css")
  body
    #app
    script(src="/public/ubold/js/modernizr.min.js")
    script(src="/public/ubold/js/jquery.min.js")
    script(src="/public/ubold/js/bootstrap.min.js")
    script(src="/public/ubold/js/detect.js")
    script(src="/public/ubold/js/jquery.slimscroll.js")
    script(src="/public/ubold/js/jquery.blockUI.js")
    script(src="/public/ubold/js/waves.js")
    script(src="/public/ubold/js/wow.min.js")
    script(src="/public/ubold/js/jquery.nicescroll.js")
    script(src="/public/ubold/js/jquery.scrollTo.min.js")
    script(src="/public/ubold/js/jquery.core.js")