<template lang="pug">
  .topbar.site-topbar
    logo
    navigation-menu
</template>

<script>
  import Logo from './components/Logo.vue';
  import NavigationMenu from './components/NavigationMenu.vue';

  export default {
    components: {
      Logo,
      NavigationMenu
    }
  };
</script>

<style lang="stylus">

  .site-topbar 
    position inherit !important
  
  .site-topbar .navbar-default 
    background-color #cf0910

  .topbar.site-topbar .topbar-left 
    width 100px
  
  .site-topbar .menu-item__name-two-lines > a 
    padding-top 8px !important
    line-height 20px !important
    max-width 165px
    height 60px

  @media (min-width 1715px) 
    .menu-navigation .home-page-navigation 
      display block
    
    .topbar.site-topbar 
      border-radius 10px
      margin 0 9%
      padding-top 10px
    
    .topbar.site-topbar .navbar.navbar-default 
      border-radius 10px
  
  @media (max-width 1006px)
    .site-topbar .navbar 
      font-size 12px
    .site-topbar .menu-navigation > .navbar-nav 
      width 100%
    .site-topbar .menu-navigation > .navbar-nav > li 
      padding 0 1%
  
  @media (max-width 880px) 
    .site-topbar .menu-navigation > .navbar-nav > li 
      padding 2px
      max-height 60px

    .site-topbar .menu-item__name-two-lines, .site-topbar .menu-item
      max-width inherit !important
      font-size 1.5em !important
      float none

  @media  (min-width: 771px) and (max-width 1275px)
    .navbar-nav.main-nav
      text-align center
      width 80%

    .navbar-nav
      text-align center
      &> li
        float none !important
        display inline-block !important


  @media (min-width 1275px)
    .site-topbar .top-menu-item-search-s
      display none !important

  @media (max-width 1275px)
    .site-topbar .navbar-right
      float left !important
      width 100%
    
    .site-topbar .top-menu-item-search-form-block
      display none !important

  @media (min-width 1359px)
    .site-topbar .top-menu-item-search-s
      display none !important
    
  
</style>