<template lang="pug">
  form.site-search-form.navbar-left.pull-left.app-search(role="search", @submit="submit")
    .wrap
      label(for="search") Поиск
      input.form-control(type="text", placeholder="Поиск...", id="search", v-model.trim="search")
      span.search-icon
        i.fa.fa-search
</template>

<script>
  export default {
    data() {
      return {
        searchValue: null
      }
    },
    created() {
      this.searchValue = this.$route.query.search;
    },
    computed: {
      search: {
        get () {
          return this.searchValue || '';
        },
        set (val) {
          this.searchValue = val;
        }
      }
    },
    methods: {
      submit(event) {
        event.preventDefault();
        if (this.search.length > 0) {
          const search = this.search;
          this.search = '';
          this.$router.history.push({name: 'search', query: {search}});
        }
      }
    }
  };
</script>

<style lang="stylus">

  .site-search-form label
    display none

  .site-search-form.app-search .search-icon
    position: absolute;
    top: 5px;
    right: 20px;
    color: #c4c4cd;

  .site-search-form.app-search .search-icon
    display block
    position: absolute;
    top: 5px;
    right: 20px;
    color: #c4c4cd;

  .search-icon
    display none

</style>