<template lang="pug">
  .form-group(:class="{'has-error': error}")
    label {{ label }}
    input.form-control(
      ref="input",
      :name="name",
      type="text",
      :placeholder="placeholder",
      :value="value",
      @input="updateValue($event.target.value)"
    )
    span.form-text.text-muted(v-show="error") {{ error }}
</template>

<script>

  export default {
    props: ['value', 'placeholder', 'name', 'label', 'required'],
    data() {
      return {
        error: null
      }
    },
    methods: {
      updateValue: function (value) {
        const formattedValue = value
          // Удалить пробелы с обеих сторон
          .trim()
          // Удалить все кроме цифр и двоеточия
          .slice(0, /^[0-9\\-]+$/.test(value) ? value.length : value.length - 1);

        if (formattedValue !== value) {
          this.$refs.input.value = formattedValue;
        }
        this.$emit('input', formattedValue);
        this.validate(formattedValue);
      },
      validate(value) {
        if (this.required && value.length === 0) {
          this.error = 'Значение не должно быть пустым';
        } else {
          this.error = null;
        }
        if (this.error) {
          this.$emit('error', {name: this.name, error: this.error});
        } else {
          this.$emit('valid', {name: this.name});
        }
      }
    }
  };
</script>

<style lang="stylus">

</style>