<template lang="pug">
  .form-group(:class="{'has-error': error}")
    label {{ label }}
    input.form-control(
    ref="input",
    :name="name",
    type="text",
    :placeholder="placeholder",
    :value="value",
    @keyup="removeValue",
    @input="updateValue($event.target.value)",
    @blur="validate($event.target.value)",
    )
    span.form-text.text-muted(v-show="error") {{ error }}
</template>

<script>

  export default {
    props: ['value', 'placeholder', 'name', 'label', 'required'],
    data() {
      return {
        error: null
      }
    },
    methods: {
      removeValue(e) {
        if (
          (e.keyCode === 8) &&
          this.$refs.input.value.charAt(this.$refs.input.value.length - 1) === ':'
        ) {
          this.$refs.input.value = this.$refs.input.value.slice(0, this.$refs.input.value.length - 1);
        }
      },
      updateValue: function (value) {
        let formattedValue = value
        // Удалить пробелы с обеих сторон
          .trim()
          // Удалить все кроме цифр и двоеточия
          .slice(0, /^[0-9:]+$/.test(value) ? value.length : value.length - 1)
          .slice(0, value.length > 2 && value.indexOf(':') !== 2 ? 2 : value.length)
          // Сократить до 2 знаков после двоеточия
          .slice(0, value.indexOf(':') === -1 ? value.length : value.indexOf(':') + 3);

        if (/^[0-9]{2}$/.test(formattedValue)) {
          formattedValue = formattedValue + ':';
        }

        if (formattedValue !== value) {
          this.$refs.input.value = formattedValue;
        }
        this.$emit('input', formattedValue);
      },
      validate(value) {
        if (this.required && value.length === 0) {
          this.error = 'Значение не должно быть пустым';
        } else if (value.length < 5) {
          this.error = 'Введите значение';
        } else if (
          value.length === 5 &&
          (!/^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/.test(value))
        ) {
          this.error = 'Неверный формат.';
        } else {
          this.error = null;
        }
        if (this.error) {
          this.$emit('error', {name: this.name, error: this.error});
        } else {
          this.$emit('valid', {name: this.name});
        }
      }
    }
  };
</script>

<style lang="stylus">

</style>